Repository rbkmoney/damsel, changes with the owners that CODEOWNERS names for each.
All owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

CODEOWNERS:

/proto/ @rbkmoney/erlang @rbkmoney/java @rbkmoney/frontend
/rebar.* @rbkmoney/erlang
/src/ @rbkmoney/erlang
/pom.xml @rbkmoney/java
/package-lock.json @rbkmoney/frontend
/package.json @rbkmoney/frontend

ED-162: +payment token bouncer data
  proto/domain.thrift
  proto/payment_tool_provider.thrift
  proto/payment_tool_token.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-124: +pass realm mode to provider
  proto/domain.thrift
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Update proto/payment_processing.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 723b40200a118bb7987408afebbc17afe4c56510
  include/dmsl_payment_processing_thrift.hrl
  proto/payment_processing.thrift
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-124: +pass realm mode to provider (#711)
  proto/domain.thrift
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 3351a0449d6bf7ce95c0ad0374b14c5cbf877b24
  include/dmsl_payment_tool_provider_thrift.hrl
  proto/domain.thrift
  proto/payment_tool_provider.thrift
  src/dmsl_payment_tool_provider_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

add constants and default value 'none' for tokenization_method
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

fix default init token method
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

mv TokenizationMethod declaration before PaymentMethod
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

add init value for token method
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

delete tokenization_method default value
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-261/feat: Add name and created_at for InvoiceTemplate
  proto/domain.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-261/fix: Remove created_at from CreateParams
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-261/feat: Add name and created_at for InvoiceTemplate (#715)
  proto/domain.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: d7353cdaa3853cdc8e8ae38e9007d2e1ffde825d
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-263/fix: Make InvoiceTemplateCreateParams.name optional
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Add constants and default value 'none' for tokenization_method (#714)
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: bc46ccb40ebfe0d41bbf80a3508f0ad075be974b
  include/dmsl_domain_thrift.hrl
  proto/domain.thrift
  src/dmsl_domain_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-263/fix: Make InvoiceTemplateCreateParams.name optional (#716)
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: fcb8e91836982224314579e65399ff8f017cdaa3
  include/dmsl_payment_processing_thrift.hrl
  proto/payment_processing.thrift
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

BankCardPaymentMethod tokenization_method is dpan
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 89cd4d1a99fc1799dc018d09ef3dec058b8cd1fb
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  include/dmsl_payment_tool_provider_thrift.hrl
  proto/domain.thrift
  proto/payment_processing.thrift
  proto/payment_tool_provider.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_payment_processing_thrift.erl
  src/dmsl_payment_tool_provider_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

rename payment_token in token_service
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: a876caf3fd96b0ce26ccb76bd76520899787010a
  include/dmsl_domain_thrift.hrl
  proto/domain.thrift
  src/dmsl_domain_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-69: Change Allocation exception set
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-214: Add payout tool errors
  proto/claim_management.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Fix error name
  proto/claim_management.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Review fixes
  proto/claim_management.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-273: +MerchantID
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-214: Add reason for invalid claims (#718)
  proto/claim_management.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 5ef0be3120907a4d48db48fde19a2fb4b1cd3354
  include/dmsl_claim_management_thrift.hrl
  proto/claim_management.thrift
  src/dmsl_claim_management_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+unwrapped merchant id
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+TokenProviderGatewayMerchantID
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+MerchantID
  proto/payment_tool_provider.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-126: +CustomerManagement:ComputeTerms
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-272: +aggregate shop data
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-69: Change Allocation exception set
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+change optional PaymentInstitution to PaymentInstitutionNotFound
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+upgrade deps
  Makefile
Owners: none

Use damsel as rebar3 depend
  rebar.config
  rebar.lock
  src/damsel.app.src
Owners: @rbkmoney/erlang
