Repository rbkmoney/damsel, changes with the owners that CODEOWNERS names for each.
All owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

expand PaymentRouteChanged add available_routes
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

add fullfill_session scenario, add optional trxes
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

fix typo, remove rec_token
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Added getRefunds method
  proto/merch_stat.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-198: Add fullfill_session scenario (#693)
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 34a0652bc5d8549f302ed95d02bdd2cbc7d4f315
  include/dmsl_payment_processing_thrift.hrl
  proto/payment_processing.thrift
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Added separate method for getting refunds stat
  proto/merch_stat.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-193: +PayoutMethod::payment_institution_account (#691)
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 2479ea4d7cf5d47a38c933e3fe8e0b01e9c1a17e
  proto/domain.thrift
  src/dmsl_domain_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+binary token_link
  proto/payment_tool_token.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

added bin data
  proto/domain.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

+change token_link -> bouncer_data opaque
  proto/payment_tool_token.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

fixed
  proto/domain.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Allocations added to merch stat
  .gitignore
  proto/merch_stat.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: a14f3784a8a645eb2aa6167cd3148ceab5273685
  include/dmsl_merch_stat_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/merch_stat.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_merch_stat_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-20: Fix - Add bin data (#696)
  proto/domain.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: fa979b0e7e5bcf0aff7b55927689368317e0d858
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Allocations added to merch stat (#697)
  .gitignore
  proto/merch_stat.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: cd5ebac3c5f78c1648768db9d4b3bb753cb7bd05
  include/dmsl_merch_stat_thrift.hrl
  proto/merch_stat.thrift
  src/dmsl_merch_stat_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 3c4d776b12adf4b841f4db84173b89a54cea4d18
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Added separate method for getting refunds stat (#695)
  proto/merch_stat.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 713799e6632d32505eaec2b6020202641a6700bc
  proto/merch_stat.thrift
  src/dmsl_merch_stat_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Update proto/payment_processing.thrift
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: db57b209169bfe5e81c0369d9a3a533c38e2c025
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/merch_stat.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_merch_stat_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

ED-157: expand PaymentRouteChanged add available_routes (#692)
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: 1c7cfe64277d1ba73bcd2c497676f120c2ca7590
  include/dmsl_payment_processing_thrift.hrl
  proto/payment_processing.thrift
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Generated from commit: a19bd6964753e668e176e53ce217465e6661f825
  include/dmsl_domain_thrift.hrl
  include/dmsl_payment_processing_thrift.hrl
  proto/domain.thrift
  proto/merch_stat.thrift
  proto/payment_processing.thrift
  src/dmsl_domain_thrift.erl
  src/dmsl_merch_stat_thrift.erl
  src/dmsl_payment_processing_thrift.erl
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

trying to deploy as dep for external protocols
  Jenkinsfile
  Makefile
  build/erlang/.gitignore
  build/erlang/Makefile
  build/erlang/elvis.config
  build/erlang/src/damsel.app.src
  package.json
  pom.xml
  rebar.config
  rebar.lock
  src/damsel.app.src
Owners: @rbkmoney/frontend, @rbkmoney/java, @rbkmoney/erlang

fix after review
  Jenkinsfile
  rebar.config
Owners: @rbkmoney/erlang

fix after review
  Makefile
Owners: none

Clean out proto files not present on master anymore
  proto/cds.thrift
  proto/pay2card.thrift
  proto/proxy.thrift
  proto/proxy_merchant.thrift
  proto/proxy_preauth.thrift
  proto/sequences.thrift
  proto/shitter.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

JD-444: message-exclusion
  proto/message_sender.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Remove elastico.thrift as outdated and unused
  proto/elastico.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Remove event_stock.thrift as outdated and unused
  proto/event_stock.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Remove walker.thrift as outdated and unused
  proto/walker.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

Remove signer.thrift as outdated and unused
  proto/signer.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

add targetPath in resource for imports thrift files
  pom.xml
Owners: @rbkmoney/java

add 'proto' targetPath for imports thrift files in maven projects (#701)
  pom.xml
Owners: @rbkmoney/java

revert changes
  Jenkinsfile
  Makefile
Owners: none

ED-69: Add InvoiceUnallocatable error
  proto/payment_processing.thrift
Owners: @rbkmoney/erlang, @rbkmoney/java, @rbkmoney/frontend

CODEOWNERS:

/proto/ @rbkmoney/erlang @rbkmoney/java @rbkmoney/frontend
/rebar.* @rbkmoney/erlang
/src/ @rbkmoney/erlang
/pom.xml @rbkmoney/java
/package-lock.json @rbkmoney/frontend
/package.json @rbkmoney/frontend
